@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100;
}

@layer components {
  .carousel {
    @apply flex gap-5 relative cursor-grab mx-[5%] overflow-hidden;
  }

  .tags {
    background: #f4ab29 !important;
  }

  @media (max-width: 640px) {
    .clothSize {
      flex-wrap: wrap;
      gap: 0.5rem;
    }

    .single{
      flex-direction: column;
      gap: 10px;
    }
  }
}

/* Hamburger Menu */
.hamburger {
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
  cursor: pointer;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: 2px;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.shadow-md {
  box-shadow: -5px 9px 20px 0px rgb(23 45 89 / 3%);
}
